.projects{

    font-size: x-large;

}
.aboutme{
    font-size: x-large;
    background-color: black;
    color: white;
    margin-bottom: 0%;
    padding: 5%;
}
body{
    background-color: beige;
}
img{
    
    height: 300px;
    width: 200px;
    float: none;
    align-content: center;
    justify-content: center;
    margin-left: 200px;
}
.hobbies{
    font-size: x-large;
}
.whyitook{
    font-size: x-large;
}
.black{
    text-align: left;
    background-color: grey;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0%;
    padding: 5%;
}